body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
}

.container {
    background: white;
    padding:30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0 , 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}
h1, h2 {
    color: #333;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:#555
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border-bottom: 1px solid #eee;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
    color: #333
}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.btn-excluir {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background 0.5s;
}

.btn-excluir:hover {
    background-color: #c82333;
}

.btn-editar {
    background-color: #354edc;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background 0.5s;
}

.btn-editar:hover {
    background-color: #2f45c2;
}